<section id="dashboard-view">
	<div class="container">
		<div class="row">
				<h1 class="text-center">Search thousands of images at your own taste.</h1>
		</div>
		<div class="row col-md-12 text-center">
				<form role="search" class="form-inline search-form" ng-submit="dashboard.searchFlickr( searchText )">
					<div class="input-group input-group-lg">
							<input type="search" class="form-control search-field" ng-model="searchText" placeholder="Search...">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default search-submit"><i class="fa fa-search"></i></button>
							</span>
						</div>
				</form>
		</div>
		<div class="clearfix"></div>
		<hr>
		<div class="row col-md-12">
	        <ul class="breadcrumb">
	        	<li ng-repeat="pageNav in dashboard.pageNav"><a href="" ng-click="dashboard.searchFlickr( searchText, pageNav.number )">{{ pageNav.text }}</a></li>
	        	<span class="pages pull-right">Page {{dashboard.page}} of {{dashboard.pages}}</span>	
	        </ul> 
      	</div>
      	<div ui-view>
      	</div>
		<div class=" gallery">
			<div ng-show="loading"><img src="images/loader.gif"></div>
			<div class="col-lg-3 col-md-3 col-xs-6 col-center image-holder" ng-repeat="photo in dashboard.photos">
				<a class="thumbnail" ui-sref="detail({photoId: '{{photo.id}}'})">
					<img class="thumb img-thumbnail img-responsive" ng-src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_b.jpg">
				</a>
			</div>
		</div>

	</div>
</div> 
</section>